@page
@model DSS.RazorWebApp.Pages.NewFolder.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    @using (Html.BeginForm("/Index", "Home", FormMethod.Get))
    {
        <p>
        <b>Search By: </b>
        @Html.RadioButton("SearchBy", "Name", true) <text>Name</text>
        @Html.RadioButton("SearchBy", "Address", true) <text>Address</text>
        @Html.RadioButton("SearchBy", "Phone", true) <text>Phone</text>
        </p>
        <p>
        @Html.TextBox("Search", "", htmlAttributes: new { @class = "w-50 form-control" })
        </p>
        <input class="btn btn-success" type="submit" value="Search" />
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
